ChangeLog
*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
include/Makefile
include/Makefile.in
install-sh
libtool
ltmain.sh
missing
pyparted.spec
src/*.la
src/*.lo
src/*.loT
src/.deps
src/.libs
src/Makefile
src/Makefile.in
stamp-h1
src/*.o
*~
