Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
configure
depcomp
include/Makefile.in
install-sh
ltmain.sh
missing
src/Makefile.in
Makefile
config.h
config.log
config.status
include/Makefile
libtool
src/.deps
src/Makefile
stamp-h1
src/.libs
src/*.la
src/*.lo
*.swp
