name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:latest
    steps:
      - uses: actions/checkout@v2
      - name: container running
        run: |
          # Install required RPMS
          dnf install -y \
              bash \
              e2fsprogs \
              findutils \
              gcc \
              make \
              parted \
              parted-devel \
              pkg-config \
              python3 \
              python3-devel \
              python3-pip \
              udev
          pip install --upgrade pip
          pip install --upgrade coverage pytest setuptools six
          env PYTHON=python3 make test coverage COVERAGE=coverage
